<style>
	.rep-title {
		font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-weight: bold;
	}

	.rep-logo img {
		max-height: 80px;
		padding-right: 10px;
	}

	.rep-logo + td {
		border-left: solid 1px #c0c0c0;
		padding-left: 10px;
	}

	.rep-logo {
		width: 1px;
		padding: 0 !important;

	}

	.rep-logo:empty {
		display: none;
	}

	.rep-logo:empty + td {
		border-left: none;
		padding-left: 0px;
	}

	.rep-barcode {
		margin-left: 25%;
	}

	.rep-barcode img {
		width: 100%;
	}

	.rep-titles {
		vertical-align: top;
		padding-right: 10px;
		padding-top: 0px !important;
		padding-bottom: 0px !important;
	}

	.rep-titles div {
		padding-top: 4px;
		padding-bottom: 3px;
	}

	.rep-titles .rep-main-title {
		font-size: 13.5pt;
		font-weight: bold;
		padding-bottom: 5px;
	}

	.rep-medium-size {
		font-size: 11pt;
	}

	.rep-large-size {
		font-size: 13pt;
		white-space: nowrap;
	}

	.rep-header-identity {
		vertical-align: top;
		padding-top: 5px;
		text-align: right;
		width: 1px;
	}

	.rep-header-naming {
		vertical-align: top;
	}

	.rep-header-naming table {
		width: 100%;
	}

	.rep-date-code {
		margin-top: 12px;
		text-align: right;
		font-size: 12pt;
	}

	.rep-date-code table {
		width: 100%;
	}

	.rap-gub {
		text-align: right;
	}

	.rep-blue {
		color: blue
	}

	.rep-red {
		color: #d90000
	}

	.rep-date {
		padding-top: 3px;
		text-align: right;
	}

	.rep-fields {
		margin-top: 35px;
	}

	.rep-fields table {
		width: 100%;
		font-size: 0.9em;
	}

	.rep-fields table tr td {
		padding-top: 10px;
	}

	.rep-left-content {
		white-space: nowrap;
		padding-right: 10px;
		border-bottom: solid 1px black;
		font-weight: bold;
		width: 1px;
	}

	.rep-value-content {
		border-bottom: solid 1px black;
	}

	.rep-shrink {
		width: 1px;
		white-space: nowrap;
	}
</style>

<div>
	<table cellpadding="0" cellspacing="0" style="width: 100%">
		<tr>
			<td class="rep-header-naming">
				<table cellspacing="0" cellpadding="0">
					<td class="rep-logo">{{{logo}}}</td>
					<td class="rep-titles">
						<div class="rep-main-title">{{provider.name}}</div>
						<div class="rep-medium-size">{{provider.location.address}}</div>
						<div class="rep-medium-size">Ciudad: {{provider.location.city.name}}</div>
						<div class="rep-medium-size">Teléfono: {{provider.administrator.phone}}</div>
						<div class="rep-medium-size">{{providerIdentityType}}: {{provider.identity.number}}</div>
					</td>
				</table>
			</td>
			<td class="rep-header-identity">
				<div class="rep-barcode">{{{barcode}}}</div>
				<div class="rep-date-code">
					<table>
						<tr>
							<td class="rap-gub rep-large-size" colspan="2">
								<b>FACTURA GUBERNAMENTAL</b>
							</td>
						</tr>
						<tr>
							<td class="rep-date rep-medium-size">
								NFC:
							</td>
							<td class="rep-date rep-medium-size rep-red rep-shrink">
								<b>B{{trace.number}}</b>
							</td>
						</tr>
						<tr>
							<td class="rep-date rep-medium-size">
								Fecha:
							</td>
							<td class="rep-date rep-medium-size rep-shrink">
								<b>{{date dates.updated "normal"}}</b>
							</td>
						</tr>
						<tr>
							<td class="rep-date rep-medium-size">
								Valido Hasta:
							</td>
							<td class="rep-date rep-medium-size rep-shrink">
								<b>{{date dates.valid "normal"}}</b>
							</td>
						</tr>
					</table>
				</div>
			</td>
		</tr>
	</table>

	<div class="rep-fields">
		<table cellspacing="0" cellpadding="0">
			<tr>
				<td class="rep-left-content">
					{{clientIdentityType}} CLIENTE
				</td>
				<td class="rep-value-content">
					<b>:</b> {{client.identity.number}}
				</td>
			</tr>
			<tr>
				<td class="rep-left-content">
					NOMBRE O RAZÓN SOCIAL
				</td>
				<td colspan="3" class="rep-value-content">
					<b>:</b> {{client.name}}
				</td>
			</tr>
		</table>
	</div>
</div>